@import url(https://fonts.google.com/specimen/Poppins);
*{
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    background: rgb(105, 171, 185);
    font: rgb(255,255,255);
    
    
}
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}
.background{
    /* background: url('image/pexels-miriam-espacio-110854.jpg') no-repeat ; */
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: whitesmoke; */
    padding: 25px 13%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbar a{
    position: relative;
    font-size: 16px;
    color: rgb(255, 255, 255);
    margin-right: 30px;
    text-decoration: none;
}

.navbar a::after{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background:#fff;
    bottom: -5px;
    border-radius: 5px;
    transform: translateY(100px);
    opacity: 0;
    transition: .3s;
}
.navbar a:hover:after{
    transform: translateY(0);
    opacity: 1;
}
.searchbar{
    width: 250px;
    height: 45px;
    background-color: transparent;
    border: 2px solid wheat;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.searchbar input{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding-left: 10px;
}
.searchbar button{
    width: 40px;
    height: 100%;
    background: transparent;
    outline: none;
    border: none;
    color: black;
    cursor: pointer;

}
.searchbar input ::placeholder{
    color: rgb(225, 234, 234);
}
.searchbar button i{
    font-size: 22px;
}
.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 75%;
    height: 550px;
    margin-top: 30px;
    /* background:grey; */
    /* background: url('image/Saturn.jpg') no-repeat ; */
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    
}
.item{
    position: absolute;
    top: 0;
    left: 0;
    width: 58%;
    height: 100%;
    color: aliceblue;
    background: transparent;
    padding: 80PX;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.item .logo{
    color: aliceblue;
    font-size: 45px;
}
.text-item{
    font-size: 30px;
    
}
.social-icon{
    color: rgb(38, 123, 196);
    font-size: 40px;
    margin-left: 10px;
    cursor: pointer;
    transition: .5s ease;
}
.social-icon a:hover i{
    transform: scale(1.2);
}
.container .login-section{
    position: absolute;
    color: aliceblue;
    top: 0;
    right: 0;
    width: calc(100% - 58%);
    height: 100%;
    color: aliceblue;


}
.login-section .form-box{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.login-section .form-box h2{
    text-align: center;
    font-size: 25px;
}

.form-box .input-box{
    width: 340px;
    height: 50px;
    border-bottom: 2px solid white;
    padding: 30px 0;
    position: relative;

}

.signin-head {
    font-size: 50px;
}
.input-box input{
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    background: transparent;
    color: white;
    /* border: beige; */
    /* outline: none; */
    /* font-size: 16px; */
    padding-right: 10px;
    padding: 10px; 
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-100%);
    font-size: 16px;
    font-weight: 600px;
    pointer-events: none;
    transition: .5s ease;

}
.input-box .icon{
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 19px;
}
.input-box input:focus~ lable ,
.input-box input:valid~ label{
    top: -5px;

}.remember-password{
    font-size: 14px;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-password label input{
    accent-color: white;
    margin-right: 3px;
}
.remember-password a{
    color: white;
    text-decoration: none;
}
.remember-password a:hover{
    text-decoration: underline;
}
.remclass {
    padding: 0px 99px;
    float: left;
    padding-left: 0px;
}
.btn{
    background: white;
    width: 100%;
    height: 45px;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: #231454;
    font: white;
    box-shadow: rgba(0, 0, 0, 0.4);

}
.create-account{
  font-size: 14.5px;
  text-align: center;
  margin: 25px;  
}
.create-account p a{
    color: #fff;
    font-weight: 600px;
    text-decoration: none;
}
.create-account p a:hover{
    text-decoration: underline;
}

